<%- include('parts/html-head') %>
<%- include('parts/navbar') %>
<div class="container">
    <% if(sess.user){ %>
        <h2><%= sess.user.nickname %>, 您好</h2>
        <p><a href="/logout">登出</a></p>
    <% } else { %>

    <div id="infobar" class="alert alert-success" role="alert" style="display: none">
    </div>

    <form name="form1" method="post" onsubmit="return formCheck()">
        <div class="form-group">
            <label for="account">Account</label>
            <input type="text" class="form-control" id="account" name="account">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <% } %>
</div>
<%- include('parts/scripts') %>
<script>
    const infobar = $('#infobar');

    function formCheck(){
        infobar.hide();
        // TODO: 檢查欄位格式
        const fd = new FormData(document.form1);

        fetch('/login', {
            method: 'POST',
            body: fd
        })
        .then(r=>r.json())
        .then(obj=>{
            console.log(obj);

            if(obj.success) {
                infobar
                    .removeClass('alert-danger')
                    .addClass('alert-success')
                    .text('登入成功');
                setTimeout(()=>{
                    // location.href = location.href;
                    location.reload();
                }, 1000);
            } else {
                infobar
                    .removeClass('alert-success')
                    .addClass('alert-danger')
                    .text('帳號或密碼錯誤');
                setTimeout(()=>{
                    infobar.slideUp();
                }, 1000);
            }
            infobar.show();
        })
        return false;
    }
</script>


<%- include('parts/html-foot') %>