<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/try-qs?b=1&a[abc]=2">query string</a>
                        <a class="dropdown-item" href="/try-post-form">try-post-form</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/address-book" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        address-book
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/address-book/list">list</a>
                        <a class="dropdown-item" href="/address-book/add">add</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/address-book/list2">address-book list2</a>
                </li>


            </ul>
            <ul class="navbar-nav">
                <% if(sess.admin){ %>
                    <li class="nav-item active">
                        <a class="nav-link"><%= sess.admin.nickname %></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/address-book/logout">登出</a>
                    </li>
                <% }else{ %>
                    <li class="nav-item active">
                        <a class="nav-link" href="/address-book/login">登入</a>
                    </li>
                <% } %>

            </ul>
        </div>
    </div>
</nav>